In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("M:\Imarticus\python project\crop-varietal-identification-with-scio\Barley.data.csv")
df.head()

,Predictor,740,741,742,743,744,745,746,747,748,...,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
0,HB-52,1.499853,1.500665,1.501564,1.502536,1.503537,1.504548,1.505588,1.506689,1.507828,...,1.636411,1.637350,1.636452,1.634370,1.632287,1.630265,1.630722,1.633166,1.636204,1.637872
1,HB-52,1.530877,1.531669,1.532524,1.533419,1.534308,1.535169,1.536024,1.536916,1.537830,...,1.643299,1.644222,1.643302,1.641195,1.639088,1.637046,1.637493,1.639938,1.642981,1.644649
2,HB-52,1.607175,1.608642,1.610044,1.611357,1.612540,1.613585,1.614534,1.615456,1.616359,...,1.703343,1.704291,1.703329,1.701137,1.698946,1.696822,1.697278,1.699806,1.702953,1.704677
3,HB-52,1.677333,1.678098,1.678930,1.679809,1.680688,1.681539,1.682384,1.683260,1.684145,...,1.755067,1.756013,1.754996,1.752716,1.750441,1.748238,1.748696,1.751290,1.754525,1.756294
4,HB-52,1.507830,1.509293,1.510683,1.511977,1.513145,1.514180,1.515125,1.516049,1.516964,...,1.641968,1.642877,1.641946,1.639829,1.637714,1.635664,1.636101,1.638535,1.641567,1.643227

In [4]:
X = df.iloc[:,1:332]
X_col = X.columns
X.head()

,740,741,742,743,744,745,746,747,748,749,...,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
0,1.499853,1.500665,1.501564,1.502536,1.503537,1.504548,1.505588,1.506689,1.507828,1.508937,...,1.636411,1.637350,1.636452,1.634370,1.632287,1.630265,1.630722,1.633166,1.636204,1.637872
1,1.530877,1.531669,1.532524,1.533419,1.534308,1.535169,1.536024,1.536916,1.537830,1.538712,...,1.643299,1.644222,1.643302,1.641195,1.639088,1.637046,1.637493,1.639938,1.642981,1.644649
2,1.607175,1.608642,1.610044,1.611357,1.612540,1.613585,1.614534,1.615456,1.616359,1.617205,...,1.703343,1.704291,1.703329,1.701137,1.698946,1.696822,1.697278,1.699806,1.702953,1.704677
3,1.677333,1.678098,1.678930,1.679809,1.680688,1.681539,1.682384,1.683260,1.684145,1.684969,...,1.755067,1.756013,1.754996,1.752716,1.750441,1.748238,1.748696,1.751290,1.754525,1.756294
4,1.507830,1.509293,1.510683,1.511977,1.513145,1.514180,1.515125,1.516049,1.516964,1.517836,...,1.641968,1.642877,1.641946,1.639829,1.637714,1.635664,1.636101,1.638535,1.641567,1.643227

In [5]:
Y=df['Predictor']
type(Y)
Y.head()

0    HB-52
1    HB-52
2    HB-52
3    HB-52
4    HB-52
Name: Predictor, dtype: object

In [6]:
from scipy.signal import savgol_filter 

sg=savgol_filter(X,window_length=11, polyorder=3, deriv=2, delta=1.0)

M:\software\anaconda\lib\site-packages\scipy\signal\_arraytools.py:45: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  b = a[a_slice]

In [7]:
sg_x=pd.DataFrame(sg, columns=X_col)
sg_x.head()

,740,741,742,743,744,745,746,747,748,749,...,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
0,0.000084,0.000073,0.000061,0.000050,0.000039,0.000028,0.000010,-0.000011,-0.000030,-0.000044,...,-0.000446,-0.000474,-0.000300,0.000008,0.000319,0.000781,0.001243,0.001705,0.002167,0.002629
1,0.000033,0.000027,0.000021,0.000014,0.000008,0.000001,-0.000011,-0.000024,-0.000036,-0.000042,...,-0.000446,-0.000474,-0.000300,0.000010,0.000322,0.000786,0.001250,0.001714,0.002178,0.002642
2,-0.000139,-0.000128,-0.000117,-0.000105,-0.000094,-0.000082,-0.000078,-0.000073,-0.000069,-0.000060,...,-0.000462,-0.000491,-0.000310,0.000010,0.000334,0.000815,0.001296,0.001777,0.002258,0.002738
3,0.000055,0.000043,0.000031,0.000020,0.000008,-0.000004,-0.000022,-0.000043,-0.000061,-0.000071,...,-0.000471,-0.000502,-0.000315,0.000014,0.000347,0.000842,0.001337,0.001832,0.002327,0.002822
4,-0.000148,-0.000133,-0.000119,-0.000105,-0.000091,-0.000077,-0.000069,-0.000062,-0.000055,-0.000045,...,-0.000446,-0.000473,-0.000299,0.000010,0.000322,0.000786,0.001249,0.001713,0.002176,0.002640

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(sg, Y,
                                                    test_size=0.2,
                                                    random_state=123,stratify=Y)

In [9]:
from sklearn.neighbors import KNeighborsClassifier

In [10]:
knn = KNeighborsClassifier(n_neighbors=5,
                           p=1, metric='minkowski')

In [11]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=1,
           weights='uniform')

In [14]:
y_pred = knn.predict(X_test)

In [15]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print("Test Result:\n")        
print("accuracy score: {0:.4f}\n".format(accuracy_score(y_test, y_pred)))
print("Classification Report: \n {}\n".format(classification_report(y_test, y_pred)))
print("Confusion Matrix: \n {}\n".format(confusion_matrix(y_test,y_pred)))

Test Result:

accuracy score: 0.8208

Classification Report:
               precision    recall  f1-score   support

 Ardu 1260 B       1.00      0.80      0.89        10
      Bahati       0.64      0.90      0.75        10
    Bekoji-1       1.00      1.00      1.00        10
 Cross 41/98       0.91      1.00      0.95        10
      Deribe       0.80      0.80      0.80        10
       Dimtu       1.00      1.00      1.00        10
     EH 1493       1.00      1.00      1.00        10
     EH 1847       0.67      1.00      0.80        10
    Explorer       0.82      0.90      0.86        10
       Grace       0.67      0.60      0.63        10
     HB-1307       0.77      1.00      0.87        10
     HB-1533       0.71      0.50      0.59        10
     HB-1963       1.00      0.90      0.95        10
     HB-1964       1.00      1.00      1.00        10
     HB-1965       0.80      0.80      0.80        10
     HB-1966       0.55      0.60      0.57        10
 IBON 174/03       0.91      1.00      0.95        10
      Sabini       0.83      0.50      0.62        10
       Shege       0.50      0.10      0.17        10
   Traveller       1.00      1.00      1.00        10
        Beka       0.91      1.00      0.95        10
       HB-52       0.89      0.80      0.84        10
      Holker       0.64      0.70      0.67        10
  Misccal-21       0.67      0.80      0.73        10

   micro avg       0.82      0.82      0.82       240
   macro avg       0.82      0.82      0.81       240
weighted avg       0.82      0.82      0.81       240


Confusion Matrix:
 [[ 8  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  9  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  8  0  0  0  2  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0 10  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  1  0  0  0  9  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  4  0  0  0  0  0  0  0  6  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0 10  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  5  0  0  0  0  1  0  0  0  0  0  4  0]
 [ 0  0  0  0  1  0  0  0  0  0  0  0  9  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 10  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  1  0  0  0  0  0  0  8  0  0  0  0  0  0  1  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  3  0  0  0  0  6  0  0  1  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 10  0  0  0  0  0  0  0]
 [ 0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  5  0  0  0  0  0  4]
 [ 0  0  0  0  0  0  0  4  0  0  0  0  0  0  0  5  0  0  1  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 10  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 10  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  8  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0  0  1  0  7  0]
 [ 0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  8]]